*{
  margin: 0;
  padding: 0;
}
header{
  background-color: rgb(0, 4, 119);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo{
  width: 50px;
  height: 50px;
  margin-left: 400px;
}
.city{
  margin-left: 20px;
  
}
.input{
  margin-left: 600px;
  border: none;
  border-radius: 7px;
  width: 200px;
  height: 30px;
}
.input:hover{
  background-color: rgb(232, 232, 232);
}
.search-btn{
margin-left: 5px;
height: 30px;
width: 50px;
border-radius: 7px;
border: none;
cursor: pointer;
}
.search-btn:hover{
  background-color: rgb(216, 216, 216);
}
nav{
  display: flex;
  flex-direction: row;
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 410px;
  column-gap: 40px;
  padding: 15px 0px;
  font-size: 20px;
}

nav h3:hover{
  transition: 0.3s ease-out;
  box-shadow: 0px 3px 0px 0px rgb(8, 0, 255);
}
.card{
  background-repeat: no-repeat;
  height: 600px;
  background-image: url('img/pexels-alexander-buzurnyuk-3828467-24974885.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.date{
  margin:0px 0px 60px 410px;
  font-family: "Funnel Display", serif;
}
.weather{
  margin:0px 0px 0px 400px;
  width: 100px;
  height: 100px;
}
.card-city{
  font-size: 70px;
  margin:50px 0px 10px 410px;
  font-family: "Funnel Display", serif;
}
.temperature{
  font-size: 80px;
  position: relative;
  top: -20px;
  font-family: "Funnel Display", serif;
}
.other-city{
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  font-size: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 6px 1px rgb(255, 255, 255);
  border-radius: 13px;
  padding-top: 7px;
}
.other-city:hover{
  transition: 0.3s ease-in-out;
  transform: translateY(-3px);
}
.feel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 4, 119);
  width: 200px;
  height: 200px;
  color: white;
  border-radius: 10px;
}
.weather1{
  width: 70px;
}
.other-cities{
  display: flex;
  flex-direction: row;
  position: relative;
  top: -270px;
  right: -1000px;
  column-gap: 20px;
  
}